@model IEnumerable<SycamoreWebApp.DTOs.LoanTypeDTO>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Loan Types</h4>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 text-right">
                        <a asp-action="Create" class="btn btn-sm btn-success m-2">Add Loan Type</a>
                    </div>
                </div>

                <table id="order-listing" class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Loan Description</th>
                            <th>Interest</th>
                            <th>Processing Fee</th>
                            <th>Admin Fee</th>
                            <th>Effective Interest Rate</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.LoanTypeId)</td>
                                <td>@Html.DisplayFor(modelItem => item.LoanDescription)</td>
                                <td>@Html.DisplayFor(modelItem => item.Interest)</td>
                                <td>@Html.DisplayFor(modelItem => item.ProcessingFee)</td>
                                <td>@Html.DisplayFor(modelItem => item.AdminFee)</td>
                                <td>@Html.DisplayFor(modelItem => item.Eir)</td>
                                <td>
                                    @*if(@item.IsActive)= 1)
        {
        <label class="badge badge-success">Active</label>
        }else
        {
        <label class="badge badge-offline">Deactivated</label>
        }*@
                                    <label class="badge badge-success">Active</label>

                                </td>
                                <td>
                                    <a asp-action="Update" asp-route-id="@item.LoanTypeId" class="btn btn-outline-primary m-2">Update</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>