@model IEnumerable<SycamoreWebApp.DTOs.LoanDTO>


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Loans</h4>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 text-right">
                        <a asp-action="Create" class="btn btn-sm btn-success m-2">Add Loan</a>
                    </div>
                </div>

                <table id="order-listing" class="table">
                    <thead>
                        <tr>
                             
                            <th>Loan Type</th>
                            <th>Customer</th>
                            <th>Total Capital Amount</th>
                            <th>Interest</th>
                            <th>Admin Fee</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.LoanTypeDTO.LoanDescription</td>
                            <td>@item.CustomerName</td>
                            <td>@item.TotalLoanAmount</td>
                            <td>@item.LoanTypeDTO.Interest</td>
                            <td>@item.LoanTypeDTO.AdminFee</td>
                            <td>
                                <label class="badge badge-success">@item.LoanStatus</label>
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.LoanId" class="btn btn-outline-primary">View</a>
                            </td>
                        </tr>
                        }
                        
                         

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- plugins:js -->
